/* Css reset */

*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* navigtn bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
/*navbar: logo and image  */
#logo{
    margin: 10px 34px;

}
#logo img{
    height: 60px;
    margin: 3px 6px;
}
#navbar ul{
    display: flex;
    font-family: 'Pangolin', cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
     z-index: -1; /*content comes over the background  */
     opacity: 0.4;
}
#navbar ul li{
    
    list-style: none; /* dots removed */
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
  display: block;    /* inline-default */
  text-decoration: none;
    padding: 3px 22px;
    border-radius: 20px;
    
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
 
 /* Home setion */
 
 #home{
    display: flex; 
    flex-direction:column;
    height: 580px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
 }
 #home::before{
     content: "";
     position: absolute;
     background: url(bg1.jpg) no-repeat center center/cover;
     top: 0px;
     left: 0px;
     height: 638px;
     width:100%;
     z-index: -1;
     opacity: 0.8;

 }
 #home h1{
     color: rgba(0, 0, 0, );
     text-align: center;
     font-family: 'Dancing Script', cursive;
    

 }
 #home p{
    font-family: 'Lobster', cursive;
    color: rgb(18, 65, 83);
    text-align: center;
    font-size: 1.5rem;

 }
 span{
     color:navy;
 }

 /* services section */
 #services{
     
     margin: 34px;
     display: flex;
 }
 #services .box{
     border: 2px solid brown;
     border-radius: 28px;
     padding: 34px;
     margin: 3px 40px;
     background: #f2f2f2;
     margin-bottom: 20px
 }
 #services .box img{
     height: 160px;
      margin: auto;     /* margin-auto works only when there is diplay-block */
     display: block;
     }
     .box img{
        border-radius: 10px;
     }
     #connect{
         background: url(join.jpg) no-repeat center center/cover;
     }
     .join{
         color: rgb(255, 255, 255);
     }

     /*  comtact section  */
    #contact{
        position: relative;
    }
    #contact::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .7;
        background: url(contact.jpg) no-repeat center center/cover;
    }
    .contact-box{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 34px;
    }
     
    .contact-box input,
    .contact-box textarea{
        width: 100%;
        padding: 0.5rem;
        border-radius: 9px;
        font-size: 
    }

    .contact-box form{
        width 40%;

    }
    .contact-box label{
        font-size: 1.3rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .follow{
        background: rgb(241, 241, 208);
        color: rgb(85, 88, 74);
        padding: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
    }
    
    
    
    footer{
        background: darkblue;
        color: white;
        padding:9px 18px ;

    }
 
 /* utility class */
 .h-primary{
     font-size: 2.8rem;
     padding: 12px;
     font-family: 'Dancing Script', cursive;
 }
 .h-secondary{
     font-size: 2.3rem;
     padding: 12px;
     font-family: 'Dancing Script', cursive;
 }
 .btn{
     padding: 6px 20px;
     border: 2px solid gray;
     background-color: indianred;
     color: white;
     margin: 17px;
     font-size: 1.5rem;
     border-radius: 10px;
     cursor: pointer;
 }
 .btn:hover{
     color: yellow;
     background-color: purple;
 }
 .center{
     text-align: center;
 }




 
